@use "../custom" as *;

// FOR THE SKILLS SECTION
.skills {
  position: relative;
  padding: 0 0 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.skills__logo-box {
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); // softer shadow
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 0.5rem; // create spacing between items

  &:hover {
    filter: grayscale(120);
    // transform: scale(1.05);
    // box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15); // slightly stronger on hover
  }

  img {
    height: 50px;
    object-fit: contain;
  }
}
